**/*.DS_Store
redis-data/
backups/*.zst
backups/*.report.*
cmd/minimal/backups/*.zst
cmd/minimal/backups/*.report.*
cmd/minimal/db-sources/*.json
cmd/minimal/db-sources/*.jsonc
!cmd/minimal/db-sources/sample.json
